# SPDX-FileCopyrightText: 2024 Junde Yhi <junde@yhi.moe>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Version=1.0
Type=Application
Name=RiscFree - Intel FPGA
Comment=IDE for Nios V and Intel FPGA HPS
Categories=Development;Electronics;
Icon=applications-development
Exec=
Terminal=false
