# SPDX-FileCopyrightText: 2024 Junde Yhi <junde@yhi.moe>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Version=1.0
Type=Application
Name=Quartus Prime Lite
Comment=Intel FPGA design software
Categories=Development;Electronics;
Icon=com.intel.quartusprime.lite
Exec=
Terminal=false
